* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imagens/background.webp");
    background-size: cover;
    background-position: center center;
}

h1 {
    text-align: center;
    margin: 100px 0px 50px 0px;
    color: #FFFFFF;
}

div {
    display: flex;
    align-items: center;
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, #2956F2, #2B91FC, #33B8E5, #2BFCF9);
    border-radius: 50px;
}

fieldset {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 20px; 
}

form {
    margin: 30px;
}

form input {
    margin: 5px 0px 5px 0px;
}

.btn-submit {
    padding: 8px;
    background-color: #3268D9;
    font-weight: bold;
    color: #FFFFFF;
}